*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
body {
    background-clip: url('Background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.back
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.social-media a{
    padding: bottom 20px;;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background:transparent;
    border: .2rem solid black;
    border-radius: 50%;
    font-size: 3.5rem;
    color: red;
    margin:3rem 1.5rem 3rem 0 ;
    transition: .5s ease;
}
.social-media a:hover{
    background:skyblue;
    color:royalblue;
    box-shadow: 0 0 1rem pink;
}
 
.image{
    min-width: 100vh;
    width: 100%;
    background-image: linear-
    gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/logo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(0, 238,255);
    text-decoration: cyan;
    font-size: 20px;
}
.nav-links ul li::after{
    content:'' ;
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box
{
    width:90%;
    color:aquamarine;
    position: absolute;
    top:350%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px ;
    font-size: 18px;
    color:white;
    text-align: center;
}
.text-box p.quote{
    color: aquamarine;
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: chartreuse;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
}

.hero-btn:hover{
    border:1px solid #1cc66eb1;
    background: #bbc7bb;
    transition: 1s;
}
nav.fa{
    display:none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #b4f045b1;
        height:100vh;
        width:200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav.fa{
        display: block;
        color: antiquewhite;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.video{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top:500px;
    align-items: center;
    border-radius: 2rem;
    min-height: 100vh;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 400px;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 400px;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}


.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}